@charset "utf-8";

#sec1{
    width:100%;
    height: 210px;
    background-color: #222;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
}
.sec1div1{
    height: auto;
    background-color: #222;
}
.sec1div1>div:first-child{
    display: flex;
    margin:10px 30px;
}
.sec1div1>div>input{
    width:150px; 
    height: 30px;
    border: 1px solid white;
    background-color: rgba(255,255,255,0);
    border-radius: 15px;
    color: white;
    text-align: center;
}
.sec1div1>div:nth-child(2){
    margin:30px;
}

#sec2{
    background-color: #222;
    display: flex;
    justify-content: center;
}
#sec2>div{
    height: 2650px;
    justify-content: space-between;
}
.sec2div1{
    width: 760px;
    height: auto;
    background-color: #222;
}
.sec2div1>iframe{
    width:760px;
    height: 500px;
}
#sec2slide{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 84.27px;
}
#sec2slide>img{
    width:150px;
    margin-right: 20px;
    border:1px solid #666;
}
#sec2ex{
    padding: 20px;
}
#sec2ex>img{
    width: 100%;
}
#sec2ex>p{
    line-height: 200%;
}
.sec2div2{
    background-color: #666;
    position: sticky;
    top:70px;
    left:0px;
}
.sec2div2>img{
    width:320px;
    height: auto;
}
.sec2div2>div:nth-of-type(1)>p{
    display: inline-block;
    padding: 20px;
}
#all{
    width:50px;
    height: auto;
    top:10px;
    left:10px;
    position: relative;
}
.sec2table th,.sec2table td{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-collapse: collapse;
    padding: 7px 5px;
    text-align: center;
}
.price{
    padding: 20px;
    text-align: center;
}
#sec2buybutton>input{
    height: 50px;
    margin: 5px 0px;
    transition:0.2s ease;
}
#sec2buybutton>input:first-child{
    background-color: #5cc8d8;
    border: 1px solid #5cc8d8;
}
#sec2buybutton>input:first-child:hover{
    background-color: #666;
}
#sec2buybutton>input:not(:first-child){
    border:1px solid white;
    background-color: #666;
}
#sec2buybutton>input:not(:first-child):hover{
    background-color: #5cc8d8;
    border:1px solid #5cc8d8
}

#sec3{
    width:100%;
    height: 400px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow:hidden;
    position: relative;
}
.sec3div1{
    width:1100px;
    background-color: #222;
    padding: 20px;
    position: relative;
    top:0;
    left: 0;
}
.sec3div2{
    width: 100%;
    height: auto;
    background-color: #222;
    display: flex;
    position: relative;
}
.sec3div2>img{
    width: 200px;
    height: auto;
    margin-right: 30px;
    cursor: pointer;
    left: 0;
}
.sec3div1>p{
    display: inline-block;
}
.sec3div1>button{
    width:30px;
    height: 30px;
    color:white;
    background-color: #222;
    border:1px solid white;
    margin: 0px 5px;
    cursor: pointer;
}

#sec3_1 img[alt="Xicon"]{
    position: fixed;
    top:20px;
    right: 20px;
    cursor: pointer;
}
#sec3_1>div{
    width: 80%;
    height: auto;
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    background-color: rgba(34,34,34,0.8);
    border:1px solid white;
    padding: 20px;
}
#sec3_1>div>p:nth-of-type(2){
    margin: 10px 0px;
}
#sec3_1>div>p:nth-of-type(2){
    text-align: center;
    margin-top: 30px;
}
.cha{
    display: none;
}
.chaT{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.chaT>img{
    width: 300px;
}
.chaT>p{
    line-height: 160%;
    width: 40%;
    margin-top: 20px;
}


#sec4{
    width:100%;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.sec4div1{
    width: 1100px;
    height: auto;
    background-color: #222;
}
.sec4div1>p{
    padding: 20px;
}
.sec4bundlebox{
    width: 100%;
    margin-top: 20px;
    align-items: center;
}
.sec4bundlebox>img{
    display: flex;
    flex-wrap: nowrap;
}
.sec4bundlebox>p{
    width: 40%;
}
.sec4TextBox{
    height: auto;
}
.sec4TextBox p{
    line-height: 160%;
}
.sec4TextBox input{
    height: 30px;
    margin: 0px 10px;
    border:1px solid white;
    background-color: #222;
    color: white;
    background: 0 none; 
    transition: 0.2s ease;
}
.sec4TextBox input:hover{
    background-color: #5cc8d8;
}

#sec5{
    width:100%;
    height: 160px;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.sec5div1{
    width: 1100px;
    height: auto;
    background-color: #222;
}
.sec5div1>p{
    padding: 20px;
}
.sec5div1>div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sec5div1 svg{
    width: 30px;
    height: 30px;
    margin: 10px;
}

#sec6{
    background-color: #222;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.sec6div1{
    background-color: #222;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.sec6div1>p{
    padding: 20px;
    width: 1100px;
}
.sec6div1>p:nth-of-type(2){
    text-align: center;
    margin-bottom: 20px;
}
.sec6review{
    text-align: center;
    width: 300px;
    height: 300px;
}
.sec6review>img{
    width: 120px;
    height: 120px;
}


#sec7{
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.sec7div1{
    height: auto;
    background-color: #222;
}
.sec7div1>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sec7div1>p{
    padding: 20px;
}
.sec7review{
    height: 300px;
    margin-bottom: 40px;
}
.sec7review>img{
    width: 40px;
    height: 40px;
}
.sec7review>div{
    padding: 0px 10px;
}
.sec7review>div>p{
    line-height: 160%;
}
.sec7review>div>input{
    width:120px;
    height: 30px;
    border: 1px solid white;
    background: #222;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.2s ease;
}
.sec7review>div>input:hover{
    background-color: #5cc8d8;
}
.sec7review>div:nth-last-child(1){
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#sec8{
    background-color:#222;
    display: flex;
    justify-content: center;
}
.sec8div1{
    background-color: #222;
}
.sec8div1>p{
    padding-left: 20px;
    padding-top: 20px;
}
.sec8div1>p:nth-of-type(2){
    padding: 20px;
    text-decoration: underline #5cc8d8;
}
.sec8div1>table th{
    width: 30%;
    padding: 10px;
    line-height: 30px;
    border-bottom: 1px solid #018699;
}
.sec8div1>table td{
    width: 70%;
    padding: 10px;
    line-height: 30px;
    border-bottom: 1px solid #018699;
}

